{% extends 'account/_base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
{% trans "Sign In" %}
{% endblock title %}

{% block content %}
<div class="w-full max-w-[768px] mx-auto my-10">

    <div class="p-6 md:py-12  md:border-2 border-neutral-300 rounded-md">
        <h1 class="text-2xl text-center font-bold  text-neutral-700 mb-4">XrossPoint ログイン</h1>
        <hr class="my-3 md:my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
        <form method="post">
            {% csrf_token %}
			
            {% if form.non_field_errors %}
                <div class="mb-4 rounded-lg bg-danger-100 px-6 py-5 text-base text-danger-700" role="alert"> 
                    {{form.non_field_errors}}
                </div>                
            {% endif %}


            <div class="grid grid-cols-2 gap-4 mb-3">
                <div class="col-span-2">
                    {% include 'components/input.html' with field=form.login%}
                </div>

                <div class="col-span-2">
                    {% include 'components/password.html' with field=form.password%}
                </div>
            </div> 

            <a href="{% url 'account_reset_password' %}" class="mt-6 text-right underline underline-offset-2 w-full block text-success transition duration-150 ease-in-out hover:text-success-600 focus:text-success-600 active:text-success-700">パスワードを再設定</a>

			<button type="submit" class="mt-6 block w-full rounded-full bg-success px-6 pb-2 pt-2.5 font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
            {% trans "Sign In" %}
            </button>

			
			<hr class="my-3 md:my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />


            <a href="{% url 'account_signup' %}" class="mt-6 text-center w-full block text-success transition duration-150 ease-in-out hover:text-success-600 focus:text-success-600 active:text-success-700">ユーザー登録はこちら</a>

        </form>
    </div>
</div>


{% endblock content %}
