{% extends 'account/_base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block title %}
{% trans 'change password' %}
{% endblock title %}
{% block content %}

<div class="px-3">
        
    {% comment %} <img src="{% static 'logo.png' %}" class="w-full max-w-xl mt-6 mx-auto aspect-auto" alt=""> {% endcomment %}
    <div class="max-w-xl mx-auto my-10 bg-white p-8">
        <h2 class="md:text-3xl font-bold mb-10  text-center">{% trans "Set Password" %}</h2>

		<form method="POST" action="{% url 'account_set_password' %}" class="password_set mt-6">
			{% csrf_token %}
			

			{% include 'components/password.html' with field=form.password1 %}
			{% include 'components/password.html' with field=form.password2 %}

			<button type="submit" class="w-full py-3 font-medium text-white bg-indigo-600 hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
				  </svg>
				  
				  <span>{% trans 'Set Password' %}</span>
			</button>
		</form>  
		
    </div>

</div>


{% endblock content %}
