{% extends 'account/_base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
{% trans "Password Reset" %}
{% endblock title %}


{% block content %}
<div class="w-full max-w-[768px] mx-auto my-10">

    <div class="p-6 md:py-12  md:border-2 border-neutral-300 rounded-md">
        <h1 class="text-2xl text-center font-bold  text-neutral-700 mb-4">パスワードを再設定</h1>
        <hr class="my-3 md:my-12 h-0.5 border-t-0 bg-neutral-100 opacity-100 dark:opacity-50" />
		
		<p class="text-slate-500 text-sm">
			メールを送信しました。 受信していない場合は、迷惑メール フォルダを確認してください。 数分経っても届かない場合はご連絡ください。
		</p>
        
    </div>
</div>


{% endblock content %}
