{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        XrossPoint |
        {% block title %}
            Home
        {% endblock title %}
    </title>

    <meta name="description" content="{% block description %}{% endblock description %}"/>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}" />

    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block css %}
    {% endblock css %}


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mogra&family=Noto+Sans+JP:wght@900&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

</head>

<body class="scroll-smooth bg-white relative">

    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'js/menu.js' %}" type="text/javascript"></script>

    {% compress js file %}
        {% block js %}
        {% endblock js %}
    {% endcompress %}

</body>


</html>