{% load static %}

{% if user.is_authenticated %}
<!-- Footer container -->
<footer class="fixed bottom-0 left-0 w-full bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <!--Copyright section-->
  <div class=" bg-neutral-200 p-3 text-center dark:bg-neutral-700">
        <div class="w-full max-w-[1600px] mx-auto">
            <span>© 2023 Copyright:</span>
            <a class="font-semibold text-neutral-600 dark:text-neutral-400" href="https://tailwind-elements.com/">Xross Point</a>
        </div>
  </div>
</footer>

{% else %}

<footer class="mt-[170px]">
  <div class="relative">
    <div class="h-[361px] w-full z-10 bg-gradient-to-b flex flex-col justify-center from-[#eeb448] via-[#95bbbb] to-[#2864b7] opacity-75 items-center">
      <h1 class="text-2xl">登録後、すぐにご利用いただけます！</h1>
      <p class="text-lg">まずは無料会員登録から</p>
      <button type="button" class="mt-9 text-blue-800 bg-gradient-to-t from-gray-200 via-white to-gray-200 font-medium rounded-full text-lg py-2.5 text-center mr-2 mb-[30px] border-2 border-blue-800" style="width:340px">無料会員登録</button>
    </div>
    <img class="absolute top-0 -z-10" src="{% static '/images/footer.jpg' %}" alt="card image">
  </div>
  <div class="max-w-[1200px] m-auto mb-20">
    <div class="mt-[72px]">
      <h1 class="font-bold text-2xl">会社名/サービス名 ロゴ</h1>
    <div>
    <div class="grid grid-cols-4 mt-5 gap-y-3">
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
      <a>メニュー</a>
    </div>
  </div>
</footer>

{% endif %}
