
{% extends "base/_base.html" %}
{% load static %}

{% block title %}
メールアドレスの変更
{% endblock title %}
{% block description %}

{% endblock description %}

{% block content %}

<section class="w-full justify-between px-6 md:flex">
    <div class=" h-auto hidden  lg:w-1/5  md:block ">
        {% include 'custom_account/account_sidebar.html' %}
    </div>
    <div class="block mb-2 md:hidden">
        <div class="inline-block">
            <a href="{% url 'accounts_menu' %}" class="flex text-success items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                </svg>                      
                戻る
            </a>
        </div>        
    </div>
    <div style="min-height: calc(100vh - 200px)" class="md:ml-2 h-fit w-full  lg:w-4/5 block rounded-lg bg-white p-3 sm:p-6  border-neutral-300 border-solid border-2 dark:bg-neutral-700">
        
        <form action="{% url 'accounts_buy_points' %}" method="post">
            {% csrf_token %}

            
            {% if form.non_field_errors %}
                <div class="mb-4 rounded-lg bg-danger-100 px-6 py-5 text-base text-danger-700" role="alert"> 
                    {{form.non_field_errors}}
                </div>                
            {% endif %} 

            <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mb-3">
          
                <div class='col-span-2 sm:col-span-4'>
                    <div class="w-full group relative inline-flex overflow-visible justify-center items-center rounded-full border-gray-300 border-2 border-spacing-4 ">
                        <img class="w-full h-[200px] " src="{% static 'uploads/features/' %}{{user.employer.feature_image}}" alt="avatar" />
                        <div class="opacity-100 group-hover:opacity-100  absolute cursor-pointer top-0 right-0 w-full h-full flex justify-center items-center">
                            <div class="text-white p-2 border-2 border-white rounded-lg hover:bg-[#ffffff33]" onclick="onclick_pick_avatar()">
                                <i class="fa fa-plus text-white" aria-hidden="true"></i>
                                <span class="inline-block ml-3">有料 - {{user.paypoints}}pt 無料 - {{user.points}}pt</span>
                            </div>
                        </div>
                    </div>                        
                </div>

                <div class="col-span-2">
                    <form action="{% url 'accounts_buy_points' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="10" />
                        <div class="max-w-[300px] w-full mx-auto p-3">
                            <img src="{% static '/images/card.jfif' %}" class="block mx-auto rounded-lg shadow-md mb-3" />
                            <div class="flex items-center justify-between sm:px-3">
                                <div class="font-medium text-md sm:text-lg">
                                    +10pt(1000円)
                                </div>
                                <button type="submit" class="block mr-0 rounded-full w-full max-w-[70px] sm:max-w-[100px] border-2 border-success py-1 sm:py-1.5 px-3  text-md text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
                                    購入
                                </button>
                            </div>
                           
                        </div>
                        <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_public_key }}"
                        data-amount="1000"
                        data-name="XrossPoint"
                        data-description="ポイント購入"
                        data-image="{% static 'favicon.png' %}"
                        data-locale="auto"
                        data-currency="jpy">
                    </script>
                    </form>
                </div>        

                <div class="col-span-2">
                    <form action="{% url 'accounts_buy_points' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="50" />
                        <div class="max-w-[300px]  w-full mx-auto p-3">
                            <img src="{% static '/images/card.jfif' %}" class="block mx-auto rounded-lg shadow-md mb-3" />
                            <div class="flex items-center justify-between sm:px-3">
                                <div class="font-medium text-md sm:text-lg">
                                    +50pt(5000円)
                                </div>
                                <button type="submit" class="block mr-0 rounded-full w-full max-w-[70px] sm:max-w-[100px] border-2 border-success py-1 sm:py-1.5 px-3  text-md text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
                                    購入
                                </button>
                            </div>
                           
                        </div>
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripe_public_key }}"
                            data-amount="5000"
                            data-name="XrossPoint"
                            data-description="ポイント購入"
                            data-image="{% static 'favicon.png' %}"
                            data-locale="auto"
                            data-currency="jpy">
                        </script>
                    </form>
                </div>        

                <div class="col-span-2">
                    <form action="{% url 'accounts_buy_points' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="100" />
                        <div class="max-w-[300px]  w-full mx-auto p-3">
                            <img src="{% static '/images/card.jfif' %}" class="block mx-auto rounded-lg shadow-md mb-3" />
                            <div class="flex items-center justify-between sm:px-3">
                                <div class="font-medium text-md sm:text-lg">
                                    +100pt(10000円)
                                </div>
                                <button type="submit" class="block mr-0 rounded-full w-full max-w-[70px] sm:max-w-[100px] border-2 border-success py-1 sm:py-1.5 px-3  text-md text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
                                    購入
                                </button>
                            </div>
                           
                        </div>
                        <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripe_public_key }}"
                        data-amount="10000"
                        data-name="XrossPoint"
                        data-description="ポイント購入"
                        data-image="{% static 'favicon.png' %}"
                        data-locale="auto"
                        data-currency="jpy">
                    </script>
                    </form>
                </div>        

            </div> 
        </form>
    </div>
  
    
</section>


{% endblock content %}


{% block js %}

<script>
    $(document).ready(function(){
        $("#select_points").change(function(){
            $("#stripe_form").data("amount", $("#select_points").val()*200)
            console.log($("#stripe_form").data("amount"))
        })

    })
</script>
{% endblock js %}