
{% extends "base/_base.html" %}
{% load static %}

{% block title %}
サービスへの連絡
{% endblock title %}
{% block description %}

{% endblock description %}

{% block content %}

<section class="w-full justify-between px-6 md:flex">
    <div class=" h-auto hidden  lg:w-1/5  md:block ">
        {% include 'custom_account/account_sidebar.html' %}
    </div>
    <div class="block mb-2 md:hidden">
        <div class="inline-block">
            <a href="{% url 'accounts_menu' %}" class="flex text-success items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
                </svg>                      
                戻る
            </a>
        </div>        
    </div>
    <div style="min-height: calc(100vh - 200px)" class="md:ml-2 h-fit w-full  lg:w-4/5 block rounded-lg bg-white p-6  border-neutral-300 border-solid border-2 dark:bg-neutral-700">
        
        <form method="post" class="text-left">
            {% csrf_token %}

            
            {% if form.non_field_errors %}
                <div class="mb-4 rounded-lg bg-danger-100 px-6 py-5 text-base text-danger-700" role="alert"> 
                    {{form.non_field_errors}}
                </div>                
            {% endif %} 

            <div class="grid grid-cols-2 gap-4 mb-3">
                    
                <div class='col-span-2'>
                    <div class="w-full h-[100px] text-center text-xl">                                                
                        お問い合わせ<br/>
                        <span class="text-sm">ご不明な点等ございましたら、以下のフォームよりメッセージを送信ください。できるだけ早くご連絡します。</span>
                    </div>
                </div>
          
                <div class="col-span-2">
                    {% include 'components/email.html' with field=form.email%}
                </div>  
                <div class="col-span-2">
                    {% include 'components/input.html' with field=form.subject%}
                </div>  
                <div class="col-span-2">
                    {% include 'components/textarea.html' with field=form.message%}
                </div>          
                
            </div> 

            <div class="mt-10 flex justify-end">
                <button type="submit" class="inline-block rounded-full min-w-[120px] border-2 border-success py-1.5 px-3  text-md text-success transition duration-150 ease-in-out hover:border-success-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-success-600 focus:border-success-600 focus:text-success-600 focus:outline-none focus:ring-0 active:border-success-700 active:text-success-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10">
                    送信する
                </button>
            </div>
        </form>
    </div>

</section>
{% endblock content %}


{% block js %}

<script>
    $(document).ready(function(){
        $(".delete_btn").click(function(){

            id = $(this).data("id")
            
            $("#object_id").val(id)

            const modal = new te.Modal($("#deleteModal"))
            modal.show()
        })

        $("#ok_btn").click(function(){
            if ($("#agreeCheck").is(':checked')) {
                $("#submit_btn").click()
            } else {
                alert("削除に同意する必要があります。")
            }
        })

    })
</script>
{% endblock js %}