{% load static %}

<!-- Footer container -->
<footer class="fixed bottom-0 left-0 w-full bg-neutral-100 text-center text-neutral-600 dark:bg-neutral-600 dark:text-neutral-200 lg:text-left">
  <!--Copyright section-->
  <div class=" bg-neutral-200 p-3 text-center dark:bg-neutral-700">
        <div class="w-full max-w-[1600px] mx-auto">
            <span>© 2023 Copyright:</span>
            <a class="font-semibold text-neutral-600 dark:text-neutral-400" href="https://tailwind-elements.com/">Xross Point</a>
        </div>
  </div>
</footer>