{% load static %}

<div class="employee-item px-10 py-12 border-t-2 border-t-gray-300 cursor-pointer hover:bg-gray-100">

    <div class="flex items-center mb-3 text-neutral-600 space-x-3">
        <img class="h-[80px] w-[80px] rounded-full shadow-lg" src="{% static 'uploads/avatars/' %}{{data.avatar}}" alt="Contact Person" />

        <div class=" space-y-1">
            <div class="text-lg uppercase">
                <a href="/employees/{{data.id}}" class="hover:text-primary hover:underline"> {{data.username}} </a>
            </div>
            <div class="text-sm text-slate-400">
                {{data.employee.role}}
            </div>
        </div>
    </div>

    <div class="text-neutral-600 line-clamp-3 mb-3">
        {{data.employee.intro}}
    </div>

    <div class="flex items-center justify-end">
        <div class="text-neutral-600 text-sm space-x-3 flex items-center">
            <div class="flex items-center space-x-1">
                <span>場所</span>
                <span>：</span>
                <span>{{data.prefecture.name}}</span>
            </div>
            <div class="flex items-center space-x-1">
                <span>登録日</span>
                <span>：</span>
                <span>{{data.employee.created_at|date}}</span>
            </div>
        </div>

    </div>
</div>