
<div class="text-neutral-700 mb-1">
    {{ field.label }}
</div>

<div class="relative mb-3" >
    <select  data-te-select-init data-te-select-filter="true"
        id="select_{{field.name}}"   
        name = "{{field.name}}"
        value = "{% if field.value == None %}{% else %}{{field.value}}{% endif %}">

        {% for sub_field in field %}
            {{sub_field.tag}}
        {% endfor %}

    </select>
</div>
<ul class="error_wrapper">
    {% for error in field.errors %}
        <li class="text-xs text-red-400">{{error}}</li>
    {% endfor %}
</ul>