
<div class="text-neutral-700 mb-1">
    {{ field.label }}
</div>
<div class="relative mb-3 text-neutral-600" data-te-input-wrapper-init>
    <input
    type="url"
    name="{{ field.name }}"
    class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
    value = "{% if field.value == None %}{% else %}{{field.value}}{% endif %}"
    placeholder="{{field.placeholder}}" />
</div>
<ul class="error_wrapper">
    {% for error in field.errors %}
        <li class="text-xs text-red-400">{{error}}</li>
    {% endfor %}
</ul>